/* styles.css */

body {
  font-family: Garamond;
}

img {
  width:40%;
  height:auto;
}

div.description{
  max-width: 60ch;
  text-align: left;
}

.important {
  color: red;
  font-size: x-small;
}

a:link, a:visited, a:hover, a:active, button:link, button:visited, button:hover, button:active{
   color: black 
}

.links a:hover{
  background-color: red;
}


li.menu {
  display:inline-block;
}

.links a{
  display:flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: pink;
  min-width: 140px;
  min-height: 80px;
  box-sizing: border-box;

}

ul.links{
  list-style-type: none;;
}